name: CheckPackage
on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
          max-parallel: 5
          fail-fast: true
          matrix:
            python-version: ["3.8", "3.9", "3.10"]
        steps:
            - uses: actions/checkout@master
            - name: Setup Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                python-version: ${{ matrix.python-version }}
            # - name: Install Poetry
            #   uses: snok/install-poetry@v1.1.1
            #   with:
            #     virtualenvs-create: true
            #     virtualenvs-in-project: true
              #----------------------------------------------
              #       load cached venv if cache exists
              #----------------------------------------------
            # - name: Load cached venv
            #   id: cached-poetry-dependencies
            #   uses: actions/cache@master
            #   with:
            #     path: .venv
            #     key: venv-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}
            # - name: Install packages
            #   run: |
            #     echo "Installing dependencies"
            #     poetry install
            #     source .venv/bin/activate
            #     pip install -U pip setuptools wheel poetry
            #   if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
              - name: Install packages
                run: |
                  echo "Installing dependencies"
                  pip install -U pip setuptools wheel poetry
                  source .venv/bin/activate
                  poetry install
                # if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
            - name: Show Module Info
              run: |
                source .venv/bin/activate
                pip show moms_apriltag
            - name: Run PyTest
              run: |
                source .venv/bin/activate
                pytest tests/
